<template>
    <div class="titan-form">
        <div class="titan-form-header">
            <slot name="title"></slot>
        </div>
        <div class="titan-form-body">
            <slot name="body"></slot>
        </div>
    </div>
</template>

<script>
export default {
    name: "FormLayoutStandard"
}
</script>

<style scoped>

</style>