<script>
import {abstractField} from 'vue-form-generator'
import redactor from './redactor.min'
import Vue from 'vue'
import redactorSk from './lang/sk'

export default {
    template: '<textarea ref="redactor" :name="name" :placeholder="placeholder" :value="value" />',
    redactor: false,
    props: {
        value: {
            default: '',
            type: String
        },
        placeholder: {
            type: String,
            default: null
        },
        name: {
            type: String,
            default: null
        },
        config: {
            default: () => {
                return {};
            },
            type: Object
        }
    },
    watch: {
        value(newValue) {
            if (this.redactor && !this.redactor.editor.isFocus()) {
                this.redactor.source.setCode(newValue)
            }
        }
    },
    mounted() {
        this.init()
    },
    beforeDestroy() {
        // if (this.redactor) {
        //     this.redactor.destroy();
        //     this.redactor = undefined;
        // }
    },
    methods: {
        init() {
            Vue.set(
                this.config,
                'callbacks',
                {
                    changed: (html) => {
                        this.handleInput(html)
                        return html
                    }
                }
            );

            // call Redactor
            const app = $R(this.$refs.redactor, this.config);

            // set instance
            this.redactor = app;
            this.$parent.redactor = app;
        },
        handleInput(val) {
            this.$emit('input', val);
        }
    }
};
</script>
<style lang="scss">
@import './_scss/redactor';

.redactor-box.redactor-styles-on {
    border-color: #ced4da;
}
</style>