<template>
    <button type="button"
            class="btn"
            @click="$emit('save')"
            :class="{'btn-success': newItem, 'btn-primary': !newItem, }"
            data-cy="formSaveButton"
    >
        <font-awesome-icon :icon="newItem === true ? 'plus' : 'check'" class="mr-1"/>
        <span v-if="!newItem">{{ i18n(editButtonName) }}</span>
        <span v-if="newItem">{{ i18n(createButtonName) }}</span>
    </button>
</template>

<script>
import FormMixin from "@/form/FormMixin";

export default {
    name: "SaveButtons",
    mixins: [FormMixin],
    props: {
        newItem: {
            type: Boolean,
            required: true,
        },
        createButtonName: {
            type: String,
            required: false,
            default: 'Create'
        },
        editButtonName: {
            type: String,
            required: false,
            default: 'Save'
        }
    },
}
</script>

<style lang="scss">
.titan-save-button {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: #eff1f4;
    background: rgba(239, 241, 244, 0.6);
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(2px);
}
.titan-save-top-button {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    margin-top: -5px;
    padding: 5px 15px;
    margin-right: -15px;
    margin-left: -15px;
    background: #eff1f4;
    background: rgba(239, 241, 244, 0.6);
    z-index: 1;
    display: flex;
    align-items: center;
    backdrop-filter: blur(2px);
}
</style>