<template>
    <form @submit.prevent="saveData()" class="titan-form" data-cy="titanForm" novalidate>
        <div class="titan-save-top-button clearfix" v-if="showSaveButton && saveButtonPosition === 'top'">
            <slot name="topTitle"></slot>
            <div class="ml-auto">
                <slot name="topButton"></slot>
                <save-buttons :newItem="newItem"
                              :i18n="i18n"
                              :create-button-name="createButtonName"
                              :edit-button-name="editButtonName"
                              v-if="showSaveButton"
                              @save="saveData()"
                />
            </div>
        </div>
        <slot name="beforeForm"></slot>
        <div class="row">
            <div :class="columnStyleClass" v-for="columnIndex in cols">
                <template v-for="(schemaItem, index) of schemaItems[columnIndex - 1]">
                    <component :is="'form-layout-' + layout">
                        <slot name="title" :schema="schemaItem" v-if="schemaItem.name">
                            <template slot="title" data-cy="formTitle">{{ i18n(schemaItem.name) }}</template>
                        </slot>
                        <template slot="body">
                            <div class="text-center" v-if="loading === true">
                                <div>
                                    <titan-loading text="Loading form" :i18n="i18n" />
                                </div>
                            </div>
                            <template v-if="loading === false">
                                <slot name="beforeFormType" :schema="schemaItem"></slot>
                                <component :is="'form-type-' + (schemaItem.type || 'main')"
                                           ref="subform"
                                           :model="model"
                                           :schema="schemaItem"
                                           :options="formOptions"
                                           :i18n="i18n"
                                >
                                    <template slot="custom">
                                        <slot name="custom"></slot>
                                    </template>
                                    <template slot="many-item-header" slot-scope="slotData">
                                        <slot v-bind:item="slotData.item"
                                              v-bind:schema="schemaItem"
                                              v-bind:schemaIndex="index"
                                              name="many-item-header"
                                        ></slot>
                                    </template>
                                </component>
                                <slot name="afterFormType" :schema="schemaItem"></slot>
                                <save-buttons :newItem="newItem"
                                              :i18n="i18n"
                                              :create-button-name="createButtonName"
                                              :edit-button-name="editButtonName"
                                              v-if="showSaveButton && saveButtonPosition === 'inside'"
                                              @save="saveData()"
                                />
                            </template>
                        </template>
                    </component>
                </template>
            </div>
        </div>
        <slot name="afterForm"></slot>
        <div class="titan-save-button" v-if="showSaveButton && saveButtonPosition === 'down'">
            <save-buttons :newItem="newItem"
                          :i18n="i18n"
                          :create-button-name="createButtonName"
                          :edit-button-name="editButtonName"
                          @save="saveData()"
            />
        </div>
        <input type="submit" class="d-none" data-cy="invisibleTitanFormButton">
    </form>
</template>
<script>
import Vue from 'vue';
import OneToMany from './types/FormTypeMany';
import FormGenerator from './vfg/formGenerator'
import {TitanLoading} from 'vue-titan-elements'

// Fields
import TitanAutocomplete from './Fields/Autocomplete';
import TitanSwitch from './Fields/Switch';
import TitanLanguage from './Fields/Language';
import TitanDatePicker from './Fields/Datepicker';
import TitanSelect from './Fields/Select';
import Redactor from './Fields/Redactor';
import Image from './Fields/Image';
import Title from './Fields/Title';
import SaveButtons from "@/form/SaveButtons";
import FormLayoutStandard from "@/form/layout/FormLayoutStandard";
import FormLayoutCard from "@/form/layout/FormLayoutCard";
import FormTypeMany from "@/form/types/FormTypeMany";
import FormTypeMain from "@/form/types/FormTypeMain";
import FormTypeCustom from "@/form/types/FormTypeCustom";
import FormMixin from "@/form/FormMixin";

Vue.component("field-titanAutocomplete", TitanAutocomplete);
Vue.component("field-titanSwitch", TitanSwitch);
Vue.component("field-titanLanguage", TitanLanguage);
Vue.component("field-titanDatePicker", TitanDatePicker);
Vue.component("field-titanSelect", TitanSelect);
Vue.component("field-titanRedactor", Redactor);
Vue.component("field-titanImage", Image);
Vue.component("field-title", Title);

export default {
    name: "titan-form",
    mixins: [FormMixin],
    components: {
        TitanLoading,
        FormTypeMany,
        FormTypeMain,
        FormTypeCustom,
        FormLayoutCard,
        FormLayoutStandard,
        SaveButtons,
        OneToMany,
        'vue-form-generator': FormGenerator,
    },
    props: {
        layout: {
            type: String,
            default: 'card',
            required: false,
        },
        model: {
            type: Object,
            required: true,
        },
        schema: {
            type: Array,
            required: true,
        },
        cols: {
            type: Number,
            required: false,
            default: 1,
        },
        colStyleClass: {
            type: String || null,
            required: false,
            default: null,
        },
        newItem: {
            type: Boolean,
            required: false,
            'default': false
        },
        triggerInvalidFormDataAlert: {
            type: Boolean,
            required: false,
            'default': true
        },
        axiosCodeBook: {
            type: Boolean,
            required: false,
            'default': false
        },
        showSaveButton: {
            type: Boolean,
            required: false,
            default: true,
        },
        saveButtonPosition: {
            type: String,
            required: false,
            default: 'top',
        },
        createButtonName: {
            type: String,
            required: false,
            default: 'Create'
        },
        editButtonName: {
            type: String,
            required: false,
            default: 'Save'
        },
        formOptions: {
            type: Object,
            required: false,
            default: () => {
                return {
                    validateAfterLoad: false,
                    validateAfterChanged: false
                }
            }
        }
    },
    created() {
        this.loadCodeBooks();
    },
    computed: {
        columnStyleClass() {
            if (this.colStyleClass !== null) {
                return this.colStyleClass;
            } else if (this.cols === 2) {
                return 'col-12 col-md-6';
            } else if (this.cols === 3) {
                return 'col-12 col-md-4';
            }
            return 'col-12 col-sm-12';
        },
        schemaItems() {
            let out = [];
            for (let i = 0; i < this.cols; i++) {
                out.push(this.getColumnItems(i))
            }
            return out;
        },
    },
    methods: {
        getColumnItems(column) {
            return this.schema.filter(res => {
                const visible = res.visible === undefined ? true : res.visible;
                const schemaColumn = res.column || 0;
                return (typeof visible === 'function' ? visible() : visible) && schemaColumn === column;
            });
        },
        loadCodeBooks() {
            let codeBooks = [];
            this.schema.forEach(forms => {
                if (forms.fields !== undefined) {
                    forms.fields.forEach(item => {
                        if (item.codeBook !== undefined && item.codeBook !== null) {
                            codeBooks.push(item.codeBook);
                        }

                        if (item.key !== undefined && this.model[item.key] === undefined) { // todo:
                            this.model[item.key] = item.default !== undefined
                                ? item.default
                                : null;
                        }
                    });
                }
            });
            if (this.axiosCodeBook === true) {
                if (codeBooks.length === 0) {
                    this.loading = false
                    this.$emit('loadedCodeBook')
                } else {
                    this.$store.dispatch('codeBook/load', codeBooks.join(',')).then(() => {
                        this.loading = false;
                        this.$emit('loadedCodeBook')
                    }).catch(() => {
                        this.loading = false
                        this.$emit('codeBookLoadFailed')
                    });
                }
            } else {
                this.loading = false;
            }
        },
        isValid() {
            let valid = true;
            this.$refs['subform'].forEach((subForm) => {
                if (typeof subForm.isValid === 'function' && subForm.isValid() === false) {
                    valid = false;
                }
            });
            if (valid === false) {
                this.$emit('alertWarning', 'Form has invalid data. Check it and try again.')
                if (this.triggerInvalidFormDataAlert === true && this.$store?.state?.alert !== undefined) {
                    this.$store.dispatch('alert/warning', 'Form has invalid data. Check it and try again.');
                }
            }
            return valid;
        },
        saveData() {
            this.$emit('beforeSave');
            if (this.isValid() === true) {
                this.$emit('saveData');
            }
        }
    },
    data() {
        return {
            loading: true,
        }
    }
}
</script>
<style lang="scss">
.titan-form {
    position: relative;

    .form-group label {
        margin-bottom: 0;
    }


    .hint {
        font-size: 13px;
        color: #717171;
    }

    .form-control {
        box-shadow: none ! important;
        outline: none ! important;

        &:read-only,
        &:disabled {
            opacity: .6;
            background: #fff;
        }
    }

    .card {
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        .card-header {
            padding-right: 85px;
        }
    }

}

.titan-form-block-title {
    font-weight: bold;
    font-size: 18px;
}

.titan-form-body {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}
</style>