<template>
    <div id="app">
        <div class="container mt-5">
            <titan-form layout="card" :model="model" :schema="schema" :cols="2" :i18n="t" @saveData="save">
                <template slot="topTitle">sss</template>
                <template slot="custom">sss dd</template>

            </titan-form>
            <pre>{{ model }}</pre>
            <button @click="model.text = null">Set</button>
            <br v-for="i in 15"/>
        </div>
    </div>
</template>
<script>

import TitanForm from "./form/TitanForm";

export default {
    name: 'App',
    components: {
        TitanForm
    },
    methods: {
        t(value) {
            return value
        },
        save() {
            console.log('save me')
        }
    },
    data() {
        return {
            model: {
                identificator: '3213',
                name: 'sss',
                text: 'sss dd',
                text2: 'Roar!',
                testSelect: [],
                items: [
                    {
                        title: 'aa',
                        order: 0,
                    }, {
                        title: 'bb',
                        order: 1,
                    }
                ],
            },
            schema: [
                {
                    name: "test",
                    type: 'main',
                    fieldsetClass: 'ahoj',
                    fields: [
                        {
                            type: "titanSelect",
                            label: "Test select",
                            model: "testSelect",
                            required: false,
                            validator: 'required',
                            valueLabel: 'title',
                            values: () => {
                                return this.model.items;
                            },
                        },
                        {
                            type: "input",
                            inputType: "text",
                            label: "Identificator",
                            model: "identificator",
                            required: true,
                            disabled: true,
                            validator: 'required',
                            textAppend: 'sss',
                        }, {
                            type: "input",
                            inputType: "text",
                            label: "Name",
                            model: "name",
                            required: true,
                            validator: 'required'
                        }, {
                            type: "title",
                            title: 'Ahoj',
                        }, {
                            type: "titanRedactor",
                            label: "Text",
                            model: "text",
                            required: true,
                            validator: 'required'
                        }, {
                            type: "titanSwitch",
                            label: "Active",
                            model: "active"
                        }, {
                            type: "input",
                            inputType: "text",
                            label: "Identificator",
                            model: "identificator",
                            required: true,
                            disabled: true,
                            validator: 'required'
                        }, {
                            type: "input",
                            inputType: "text",
                            label: "Name",
                            model: "name",
                            required: true,
                            validator: 'required'
                        }, {
                            type: "titanRedactor",
                            label: "Text",
                            model: "text2",
                            required: true,
                            validator: 'required'
                        },
                    ]
                }, {
                    name: "test 2",
                    type: 'many',
                    model: 'items',
                    fieldsetClass: 'ahoj',
                    listModel: 'title',
                    acceptAction: true,
                    column: 1,
                    sortable: true,
                    sortableKey: 'order',
                    fields: [
                        {
                            type: "input",
                            inputType: "text",
                            label: "Title",
                            model: "title",
                            required: true,
                            validator: 'required'
                        }, {
                            type: "title",
                            title: "New product",
                        }, {
                            type: "input",
                            inputType: "text",
                            label: "text",
                            model: "item.text",
                            required: true,
                            validator: 'required',
                            default: 'ferko',
                            textPrepend: 'ss',
                        }, {
                            type: "titanSwitch",
                            label: "Bool",
                            model: "item.active",
                            default: true,
                        }, {
                            type: "titanImage",
                            label: "Change image",
                            model: "link",
                            required: false,
                            validator: 'string',
                            upload: (file) => {
                                return this.$store.dispatch('files/uploadFile', {
                                    file: file,
                                    folder: 'article'
                                })
                            }
                        }
                    ]
                }, {
                    name: "Custom",
                    type: 'custom',
                    fieldsetClass: 'ahoj',
                    column: 1,
                }
            ],
        }
    }

}
</script>
<style lang="scss">
@import '~bootstrap/scss/bootstrap.scss';

body {
    background: #eff1f4;
}

</style>
