<template>
    <div class="one-to-many-titan-form form-list" :class="{'disabled-form': disabled}" data-cy="formOneToMany">
        <div v-if="items.length === 0 && disabled === true">{{ noItems }}</div>
        <draggable v-model="model[schema.model]" handle=".sort-handle" :sort="sortable" @end="sortItems">
            <div class="row form-list-row" v-for="(item, index) in items">
                <div class="col-sm-12 form-list-row-header">
                    <template v-if="disabled === false">
                        <button type="button"
                                class="btn btn-danger btn-icon"
                                v-if="acceptAction === false"
                                @click="removeItem(index)"
                                data-cy="removeItemButton"
                        >
                            <font-awesome-icon icon="minus"/>
                        </button>
                        <titan-accept-button class="btn-modal-icon"
                                             buttonClass="btn-danger btn-icon"
                                             buttonIcon="minus"
                                             :buttonName="acceptModalButton"
                                             :modalText="acceptModalText"
                                             v-if="acceptAction === true"
                                             @pressed="removeItem(index)"
                        />
                    </template>
                    <div @click="toggleForm(index)" class="c-pointer">
                        <slot name="many-item-header" v-bind:item="item" data-cy="manyItemHeader">
                            {{ item[schema.listModel] }}
                        </slot>
                        <div class="sort-handle float-right" v-if="sortable" data-cy="manyItemSortHandle">
                            <font-awesome-icon icon="grip-lines"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 form-list-row-body"
                     :class="{'d-none': index !== openedForm}"
                     data-cy="manyItemForm"
                >
                    <div class="form-container">
                        <vue-form-generator :schema="{fields: schema.fields}"
                                            :ref="'newItemForm-' + index"
                                            :model="item"
                                            :options="formOptions"
                                            :i18n="i18n"
                        />
                    </div>
                </div>
            </div>
        </draggable>
        <template v-if="disabled === false && showNewItemButton === true">
            <div class="row form-list-row" v-if="showNewItem === true">
                <div class="col-sm-12 form-list-row-header">
                    <button type="button"
                            class="btn btn-danger btn-icon"
                            @click="showNewItem = false; setNewModel()"
                            v-if="acceptAction === false"
                    >
                        <font-awesome-icon icon="minus"/>
                    </button>
                    <titan-accept-button class="btn-modal-icon"
                                         buttonClass="btn-danger btn-icon"
                                         buttonIcon="minus"
                                         :buttonName="acceptModalButton"
                                         :modalText="acceptModalText"
                                         v-if="acceptAction === true"
                                         @pressed="showNewItem = false; setNewModel()"
                    />
                    <span>{{ i18n(newItemLabel) }}</span>
                </div>
                <div class="col-sm-12 form-list-row-body" data-cy="manyItemNewForm">
                    <div class="form-container">
                        <vue-form-generator :schema="{fields: schema.fields}"
                                            :i18n="i18n"
                                            ref="newItemForm"
                                            :model="newModel"
                                            :options="formOptions"
                        />
                        <button type="button"
                                class="btn-success btn btn-sm mr-1"
                                @click="addItem()"
                                data-cy="addItemButton"
                        >
                            <font-awesome-icon icon="plus" class="mr-1"/>
                            <span>{{ i18n(addItemLabel) }}</span>
                        </button>
                        <button type="button"
                                class="btn-outline-secondary btn btn-sm"
                                @click="showNewItem = false; setNewModel()"
                                data-cy="closeAddItemButton"
                        >
                            <font-awesome-icon icon="times" class="mr-1"/>
                            <span>{{ i18n(closeAddItemLabel) }}</span>
                        </button>
                    </div>
                </div>
            </div>
            <button type="button"
                    class="btn-success btn btn-sm"
                    @click="showNewItem = true"
                    v-if="showNewItem === false"
                    data-cy="addItemButton"
            >
                <font-awesome-icon icon="plus" class="mr-1"/>
                <span>{{ i18n(addItemLabel) }}</span>
            </button>
        </template>
    </div>
</template>
<script>
import FormGenerator from "@/form/vfg/formGenerator";
import {TitanAcceptButton} from 'vue-titan-buttons'
import {formType} from "@/form/types/FormTypeMixin";
import {setDeepValue} from "@/utils";
import draggable from 'vuedraggable'

export default {
    name: 'FormTypeMany',
    mixins: [formType],
    components: {
        TitanAcceptButton,
        draggable,
        'vue-form-generator': FormGenerator,
    },
    props: {},
    mounted() {
        if (this.model[this.schema.model] === undefined) {
            this.model[this.schema.model] = [];
        }
        this.setNewModel();
    },
    watch: {
        blockedNewForm: {
            handler() {
                this.blockedNewForm = false;
            },
            deep: true,
        }
    },
    computed: {
        showNewItemButton() {
            return this.schema.showNewItemButton === undefined ? true : this.schema.showNewItemButton;
        },
        closeAddItemLabel() {
            return this.schema.closeAddItemLabel === undefined ? 'Close new item form' : this.schema.closeAddItemLabel;
        },
        addItemLabel() {
            return this.schema.addItemLabel === undefined ? 'Add item' : this.schema.addItemLabel;
        },
        acceptModalText() {
            return this.schema.acceptModalText === undefined
                ? this.i18n('Do you want to delete item?')
                : this.i18n(this.schema.acceptModalText);
        },
        newItemLabel() {
            return this.schema.newItemLabel === undefined ? 'New item' : this.schema.newItemLabel;
        },
        acceptModalButton() {
            return this.schema.acceptModalButton === undefined
                ? this.i18n('Delete item')
                : this.i18n(this.schema.acceptModalButton);
        },
        noItems() {
            return this.schema.acceptModalButton === undefined
                ? this.i18n('Items are not available')
                : this.i18n(this.schema.acceptModalButton);
        },
        acceptAction() {
            return this.schema.acceptAction === undefined ? false : this.schema.acceptAction;
        },
        disabled() {
            return this.schema.disabled === undefined ? false : this.schema.disabled;
        },
        items() {
            return this.model[this.schema.model] === undefined ? [] : this.model[this.schema.model];
        },
        minValues() {
            return this.schema.min === undefined ? -1 : this.schema.min;
        },
        sortable() {
            return this.schema.sortable || false;
        }
    },
    methods: {
        isValid() {
            let valid = true;
            this.items.forEach((item, index) => {
                const itemFormComponent = this.$refs['newItemForm-' + index];
                if (itemFormComponent !== undefined && this.validForm(itemFormComponent[0]) === false) {
                    valid = false;
                    this.openedForm = index;
                }
            });
            this.addItem();
            if (valid && this.minValues > 0) {
                return this.items.length > this.schema.min;
            }
            return valid;
        },
        toggleForm(index) {
            this.openedForm = this.openedForm === index ? null : index;
        },
        addItem() {
            if (this.$refs.newItemForm !== undefined
                && this.validForm(this.$refs.newItemForm) === true
                && this.blockedNewForm === false
            ) {
                if (this.sortable === true && this.schema.sortableKey) {
                    this.newModel[this.schema.sortableKey] = this.model[this.schema.model].length;
                }
                this.model[this.schema.model].push(this.newModel);
                this.model[this.schema.model] = [...this.model[this.schema.model]]
                this.showNewItem = false; // todo: mozno nastavitelne
                this.blockedNewForm = true;
                this.setNewModel();
            }
        },
        validForm(formRef) {
            formRef.validate();
            return formRef.errors.length === 0;
        },
        removeItem(index) {
            this.openedForm = null;
            this.model[this.schema.model].splice(index, 1);
        },
        setNewModel() {
            let model = {};
            this.schema.fields.forEach(item => {
                if (item.model !== undefined) {
                    setDeepValue(model, item.model, item.default === undefined ? null : item.default);

                    if (item.codeBook !== undefined) {
                        const codeBookData = this.$store.getters['codeBook/get'](item.codeBook);
                        const defaultCodeBookValue = codeBookData.find(res => {
                            return res.id === model[item.model];
                        });
                        setDeepValue(
                            model,
                            item.model,
                            defaultCodeBookValue !== undefined ? defaultCodeBookValue : null
                        );
                    }
                }
            });
            this.newModel = model;
        },
        sortItems() {
            const sortableKey = this.schema.sortableKey
            if (sortableKey) {
                this.model[this.schema.model].forEach((item, key) => {
                    this.model[this.schema.model][key][sortableKey] = key;
                });
            }
        }
    },
    data() {
        return {
            openedForm: null,
            showNewItem: false,
            blockedNewForm: false,
            newModel: {},
            formOptions: {
                validateAfterLoad: false,
                validateAfterChanged: true
            }
        }
    }
}
</script>
<style lang="scss">
.one-to-many-titan-form {
    .c-pointer {
        cursor: pointer;
    }

    .form-list-row {
        border-bottom: 1px solid #E3E3E3;
        padding-bottom: 8px;
        margin-bottom: 8px;

        .form-list-row-header {
            position: relative;
            padding-left: 45px;
            min-height: 24px;
            background: #fff;

            .btn-modal-icon {
                position: absolute;
                left: 0;
                top: 0;

                .button-name {
                    display: none;
                }
            }

            .btn-icon {
                position: absolute;
                left: 10px;
                top: 0;
                width: 25px;
                height: 25px;
                text-align: center;
                padding: 6px 0;
                line-height: 25px;

                svg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 13px;
                    width: auto;
                    margin: auto;
                }
            }
        }

        .form-list-row-body {
            padding-top: 8px;
            padding-left: 35px;

            .form-container {
                background: #f8f9fb;
                border: 1px solid #eff1f4;
                padding: 15px 15px;
                margin-bottom: 4px;
                border-radius: 10px;
            }
        }
    }

    &.disabled-form {
        .form-list-row-header {
            padding-left: 10px ! important;
        }

        .form-list-row-body {
            padding-left: 10px ! important;
        }

        .form-list-row {
            &:last-child {
                border-bottom: 0;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
}
</style>