<template>
    <vue-form-generator ref="form"
                        :schema="schema"
                        :model="model"
                        :options="options"
                        :i18n="i18n"
    />
</template>
<script>
import {formType} from "@/form/types/FormTypeMixin";
import FormGenerator from "@/form/vfg/formGenerator";

export default {
    name: "FormTypeMain",
    mixins: [formType],
    components: {
        'vue-form-generator': FormGenerator,
    },
    methods: {
        isValid() {
            this.$refs.form.validate();
            return this.$refs.form.errors.length === 0;
        }
    }
}
</script>

<style scoped>

</style>