<template>
    <div>
        <slot name="custom"></slot>
    </div>
</template>
<script>
import {formType} from "@/form/types/FormTypeMixin";

export default {
    name: "FormTypeMain",
    mixins: [formType],
    methods: {
        isValid() {
            return typeof this.schema.validate === 'function' ? this.schema.validate(this.schema, this.model) : true;
        }
    }
}
</script>

<style scoped>

</style>