<template lang="pug">
div.vue-form-generator(v-if='schema != null')
	fieldset(v-if="schema.fields", :is='tag', :class="schema.fieldsetClass", :data-cy="cy")
		template(v-for='field in fields')
			form-group(v-if='fieldVisible(field)', :i18n="i18n", :vfg="vfg", :field="field", :errors="errors", :model="model", :options="options", @validated="onFieldValidated", @model-updated="onModelUpdated")

	template(v-for='group in groups')
		fieldset(:is='tag', :class='getFieldRowClasses(group)')
			legend(v-if='group.legend') {{ i18n(group.legend) }}
			template(v-for='field in group.fields')
				form-group(v-if='fieldVisible(field)', :i18n="i18n", :vfg="vfg", :field="field", :errors="errors", :model="model", :options="options", @validated="onFieldValidated", @model-updated="onModelUpdated")
</template>
<script>
    import VueFormGenerator from 'vue-form-generator';
    import formGroup from './formGroup.vue';
    import formMixin from 'vue-form-generator/src/formMixin.js';
    import FormMixin from "@/form/FormMixin";

    export default {
        extends: VueFormGenerator.component,
        components: { formGroup },
        mixins: [formMixin, FormMixin],
        computed: {
            cy() {
                return this.schema.cy || 'formFields'
            }
        }
    };
</script>
