<template>
    <div class="form-group vfg-form-group" :class="getFieldRowClasses(field)" :data-cy="'formField-' + (field.model || 'type-' + field.type)">
        <template v-if="field.type === 'title'">
            <legend>{{ i18n(field.title) }}</legend>
            <field-label ref="child"
                         :vfg="vfg"
                         :disabled="fieldDisabled(field)"
                         :model="model"
                         :schema="field"
                         :formOptions="options"
                         @model-updated="onModelUpdated"
                         @validated="onFieldValidated"
            />
        </template>
        <template v-if="field.type !== 'title'">
            <label v-if="fieldTypeHasLabel(field)" :for="getFieldID(field)" :class="field.labelClasses">
                <span v-html="i18n(getSettingValue(field.label))"></span>
                <div v-if='field.help' class="help">
                    <i class="icon"></i>
                    <div class="helpText" v-html='i18n(field.help)'></div>
                </div>
            </label>
            <div class="field-wrap">
                <div class="input-group" :class="{'input-group-prepend': field.textPrepend, 'input-group-append': field.textAppend}">
                    <div class="input-group-prepend" v-if="field.textPrepend">
                        <span class="input-group-text">{{ i18n(field.textPrepend) }}</span>
                    </div>
                    <component ref="child"
                               :is="getFieldType(field)"
                               :vfg="vfg"
                               :disabled="fieldDisabled(field)"
                               :model="model"
                               :schema="field"
                               :formOptions="options"
                               :i18n="i18n"
                               @model-updated="onModelUpdated"
                               @validated="onFieldValidated"
                    ></component>
                    <div class="input-group-append" v-if="field.textAppend">
                        <span class="input-group-text">{{ i18n(field.textAppend) }}</span>
                    </div>
                </div>
                <div v-if="buttonVisibility(field)" class="buttons">
                    <button v-for="(btn, index) in field.buttons" @click="buttonClickHandler(btn, field, $event)"
                            :class="btn.classes" :key="index" v-text="i18n(btn.label)" :type="getButtonType(btn)"></button>
                </div>
            </div>

            <div v-if="field.hint" class="hint" v-html="i18n(fieldHint(field))"></div>

            <div v-if="fieldErrors(field).length > 0" class="errors help-block">
                <span v-for="(error, index) in fieldErrors(field)" :key="index" v-html="i18n(error)"></span>
            </div>
        </template>
    </div>
</template>
<script>
import formMixin from "vue-form-generator/src/formMixin.js";
import FormGroup from 'vue-form-generator/src/formGroup'
import FormMixin from "@/form/FormMixin";

export default {
    extends: FormGroup,
    mixins: [formMixin, FormMixin],
    methods: {
        getSettingValue(value) {
            return typeof value === 'function' ? value() : value;
        }
    }
}

</script>
<style lang="scss">
.vfg-form-group {
    &.field-title {
        margin-bottom: 5px;

        legend {
            font-weight: bold;
            font-size: 1.15rem;
            line-height: 1.3rem;
            margin-top: .5rem;
            margin-bottom: 0;
        }
    }

    .input-group {
        &.input-group-append {
            .form-control {
                border-top-right-radius: 0 ! important;
                border-bottom-right-radius: 0 ! important;
            }
        }
        &.input-group-prepend {
            .form-control {
                border-top-left-radius: 0 ! important;
                border-bottom-left-radius: 0 ! important;
            }
        }
    }

    .titan-select {
        .multiselect__tags {
            width: 100%;
        }
    }

    .titan-date-picker {
        width: 100%;
    }

    .titan-select,
    .custom-filed,
    .wrapper {
        display: flex;
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1% ! important;
        margin-bottom: 0;
    }
}
</style>