<template>
    <div class="redactor-field">
        <div class="redactor-field-field-disabled" v-if="disabled" v-html="value"></div>
        <redactor v-model="value" v-if="!disabled && value !== null" :config="redactorConfig"></redactor>
    </div>
</template>
<script>
import {abstractField} from 'vue-form-generator'
import redactor from './redactor/RedactorVue'

const defaultButtons = [
    'undo',
    'redo',
    'html',
    'format',
    'bold',
    'italic',
    'underline',
    'sup',
    'sub',
    'deleted',
    'lists',
    'image',
    'file',
    'link',
    'line',
    'ol',
    'ul',
    'indent',
    'outdent',
    'table'
]

export default {
    mixins: [abstractField],
    components: {
        redactor
    },
    watch: {
        value(newValue) {
            this.checkValue(newValue)
        }
    },
    mounted() {
        this.checkValue(this.value)
    },
    computed: {
        redactorConfig() {
            return {
                clickToEdit: true,
                lang: this.schema.language || 'en',
                removeNewLines: true,
                buttons: defaultButtons,
                plugins: [
                    'table'
                ],
                placeholder: this.schema.placeholder,
                callbacks: {}
            };
        }
    },
    methods: {
        checkValue(value) {
            if (value === null || value === undefined) {
                this.value = '';
            }
        }
    }
};
</script>
<style lang="scss">
@import './redactor/_scss/redactor';

.redactor-field {
    width: 100%;

    .redactor-field-field-disabled {
        border: 1px solid #ced4da;
        padding: 8px 12px;
        border-radius: 4px;
        min-height: 38px;
        opacity: .6;
    }
}

.redactor-box.redactor-styles-on {
    border-color: #ced4da;
}
</style>