<template>
    <div class="titan-switch"
         :class="classValue"
         @click="value = !value; validateValue()"
    >
        <span v-if="value !== false">{{ i18n(yes) }}</span>
        <span v-if="value === false">{{ i18n(no) }}</span>
    </div>
</template>
<script>
import {abstractField} from "vue-form-generator"
import FormMixin from "@/form/FormMixin";

export default {
    mixins: [abstractField, FormMixin],
    computed: {
        yes() {
            return this.schema.trueLabel === undefined ? 'Yes' : this.schema.trueLabel
        },
        no() {
            return this.schema.falseLabel === undefined ? 'No' : this.schema.falseLabel
        },
        classValue() {
            return this.value === false ? 'switch-off ' + this.falseBackground : 'switch-on ' + this.trueBackground
        }
    },
    mounted() {
        this.validateValue();
    },
    methods: {
        validateValue() {
            if (this.value === null || this.value === undefined) {
                this.value = this.schema.default === undefined ? false : this.schema.default;
            }
        },
    },
    data() {
        return {
            trueBackground: 'bg-primary',
            falseBackground: 'bg-danger',
        };
    }
};
</script>
<style lang="scss" scoped>
.titan-switch {
    height: 34px;
    width: auto;
    display: inline-block;
    color: #fff;
    line-height: 34px;
    cursor: pointer;
    position: relative;
    padding: 0 13px 0 32px;
    border-radius: 4px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    &:before {
        content: '';
        position: absolute;
        top: 4px;
        left: 4px;
        right: auto;
        bottom: 4px;
        width: 20px;
        background: #fff;
        border-radius: 3px;
    }

    &.switch-off {
        padding: 0 32px 0 12px;

        &:before {
            right: 4px;
            left: auto;
        }
    }
}
</style>