<template>
    <span class="d-none"></span>
</template>

<script>
import {abstractField} from "vue-form-generator";

export default {
    name: "Title",
    mixins: [abstractField],
}
</script>

<style scoped>

</style>